<div class='outerDiv'>
  <div class='innerDiv'>
    <div class='toDoOuterDiv'>
      <div class='toDoDiv'>{{ toDoFormName }}</div>
      <a routerLink='/list-2' routerLinkActive='active' class='back'>Back</a>
    </div>
    <div class='div1'>
      <div class='div2'>
        <label class='w-20'>Name</label>
        <input
          class='textBox'
          type='text'
          name='toDoList'
          [(ngModel)]='item.value'
          placeholder='Add ToDo List'
        />
      </div>
      <div class='div2'>
        <label class='w-20'>Short Description</label>
        <textarea
          class='textArea'
          name='shortDes'
          [(ngModel)]='item.shortDes'
          placeholder='Add Short Description'
        ></textarea>
      </div>
      <div class='div2'>
        <label class='w-20'>Status</label>
        <select
          class='textBox'
          [(ngModel)]='item.status'
          (change)='onDropDownOptionChange($event)'
        >
          <option value='' selected>-- Select --</option>
          <option value='Pending'>Pending</option>
          <option value='Active'>Active</option>
          <option value='Inactive'>Inactive</option>
        </select>
      </div>
      <div class='div2'>
        <label class='w-20'></label>
        <button class='formButton' (click)='addOrEdit()'>
          {{ buttonValue }}
        </button>
        <!-- <button class='formButton' (click)='addToDoList()'>Add</button> -->
      </div>
    </div>
  </div>
</div>
